{% extends "base.html" %}
{% block content %}
    <section class="page-title" role="main">
        <div class="container">
            <h1 class="title">Libraries from {{ owner|e }}</h1>
        </div>
    </section>
    <section class="user-results">
        <ul class="libraries list-unstyled">
            {% for key,library in libraries %}
            <li class="library" data-url="{{ library.owner|e }}/{{ library.package| e}}">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-lg-10">
                            <h4><a href="/{{ library.owner|e }}/{{ library.package|e }}">/{{ library.owner|e }}/{{ library.package|e }}</a></h4>
                            <p>{{ library.description|e }} </p>
                        </div>
                        <div class="col-sm-3 col-lg-2">
                            <div class="meta-data">
                                <div class="block">
                                    <i class="fa fa-star-o fa-lg"></i>
                                    <div class="count">
                                        {{ library.stars }}
                                    </div>
                                </div>
                                <br>
                                <div class="block">
                                    <i class="fa fa-eye fa-lg"></i>
                                    <div class="count">
                                        {{ library.watchers }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
