/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Overpass', sans-serif;
}
a {
    color: #6CF;
}
a:hover {
    color: #6699CC;
}
code {
    display: inline-block !important;
    margin: 0 0 6px !important;
}

table code {
    max-width: 100% !important;
    word-wrap: break-word !important;
}

table.table-bordered td:nth-child(2) {
    max-width: 190px;
}

/**
 * Fork Sticker Styles
 */
.fork-sticker {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

/**
 * Bootstrap Override Styles
 */
.navbar-default {
    background: #6CF;
    border: 0;
    border-radius: 0;
    padding: 10px 20px;
    margin: 0;
}
.navbar-default .navbar-brand {
    font-size: 22px;
    color: #FFF;
    text-transform: lowercase;
    font-weight: bold;
}
.navbar-default .navbar-brand em {
    font-weight: 300;
}

/**
 * Default View On Homepage Styles
 */
.default-section {
    background: #ECEDEE;
    border: 1px solid #CCCCCC;
    margin: 60px auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 90%;
}
.default-section h3 {
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    color: #000;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #CCCCCC;
    text-transform: lowercase;
}
.keyword,
.owner{
    display: block;
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    line-height: 1;
    transition: all .3s;
}
.keyword:last-child,
.owner:last-child {
    margin: 0;
}
.keyword .count,
.owner .count {
    float: right;
}

/**
 * Index Search Styles
 */
.omnisearch {
    padding: 30px 0;
    background: #ECEDEE;
    border-bottom: 2px solid #CBCBCB;
}
.omnisearch .tagline {
    margin: 20px 0 -10px;
    padding: 0;
    font-size: 16px;
    color: #9b9b9b;
    line-height: 1.25;
    text-align: center;
}
.omnisearch input[type=text] {
    padding: 15px;
    border-radius: 4px;
    border: 2px solid #CBCBCB;
    height: auto;
    line-height: 1.25;
    background: #FFF;
    box-shadow: 0 0 0 rgba(00,00,00, 0);
    float: left;
    width: 80%;
    transition: all .3s;
}
.omnisearch input[type=text]:focus {
    box-shadow: 0px 0px 10px rgba(00,00,00,.25);
    outline: none;
    border-color: #6CF;
}
.omnisearch .search-button {
    display: block;
    float: right;
    width: 18%;
    background: #6CF;
    color: #FFF;
    border-radius: 4px;
    padding: 14px 14px 13px;
    border: 2px solid #FFF;
    height: auto;
    line-height: 1.25;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: lowercase;
    transition: all .3s;
}
.omnisearch .search-button:hover {
    background: #FFF;
    color: #6CF;
    border-color: #6CF;
}

/**
 * Library List Styles
 */
.search-results,
.user-results {
    padding: 0 0 15px;
}
.user-results {
    padding: 0;
}
.search-results .libraries,
.user-results .libraries {
    margin: 0;
}
.search-results .library,
.user-results .library {
    border-bottom: 1px solid #ECEDEE;
    padding: 20px 0;
}
.search-results .library:nth-child(even),
.user-results .library:nth-child(even) {
    background: #F9F9F9;
}
.search-results .library:last-child,
.user-results .library:last-child {
    border-bottom: 0;
}
.search-results .library .meta-data,
.user-results .library .meta-data {
    display: block;
    text-align: right;
}
.search-results .library .meta-data .block,
.user-results .library .meta-data .block {
    display: inline-block;
    clear: both;
    line-height: 30px;
}
.search-results .library .meta-data .block i,
.user-results .library .meta-data .block i {
    position: relative;
    top: -1px;
}
.search-results .library .meta-data .block i,
.search-results .library .meta-data .block .count,
.user-results .library .meta-data .block i,
.user-results .library .meta-data .block .count {
    display: inline-block;
    min-width: 25px;
    text-align: center;
}

/**
 * Footer Styles
 */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #1b1b1b;
    height: auto;
    padding: 20px 0;
}
.footer a {
    color: #FFF;
    font-size: 16px;
    line-height: 40px;
    text-transform: lowercase;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer !important;
    transition: all .3s;
}
.footer a:hover {
    color: #6CF;
}
.footer a em {
    font-weight: 300;
}
.footer a.icon {
    line-height: 40px;
    font-size: 24px;
    margin-left: 10px;
}

/**
 * Page Title Styles
 */
.page-title {
    border-bottom: 1px solid #ECEDEE;
    padding: 10px 0 20px;
}
.page-title .title {
    font-size: 32px;
    font-weight: bold;
    text-transform: lowercase;
}

/**
 * Library Page Styles
 */
.library-single {
    padding: 30px 0 35px;
}

/** Sdebar Styles **/
.library-single .sidebar {
    padding: 15px;
    border-radius: 0;
    background: #F9F9F9;
    border: 1px solid #ECEDEE;
}
.library-single .sidebar.fixed {
    position: fixed;
    top: 0;
    border-radius: 0;
    height: 100%;
    overflow: auto;
}
.library-single .sidebar hr {
    border-color: #ECEDEE;
    background: #ECEDEE;
}
.library-single .sidebar .maintainers {
    text-align: center;
}
.library-single .sidebar .canonical {
    text-align: center;
}
.library-single .sidebar .heading {
    font-size: 18px;
    font-weight: bold;
    text-transform: lowercase;
    margin: 0 0 15px;
}
.library-single .sidebar .meta-data {
    display: block;
    text-align: center;
}
.library-single .sidebar .meta-data span {
    display: inline-block;
    width: 30%;
}
.library-single .sidebar .meta-data span a {
    font-size: 16px;
}
.library-single .sidebar .meta-data span a i {
    margin-right: 10px;
}
.library-single .sidebar .panel-group {
    margin: 0 0 5px;
}
.library-single .sidebar .panel-group .panel {
    box-shadow: none;
}
.library-single .sidebar .panel-group .panel-heading {
    margin: 0;
    padding: 0;
}
.library-single .sidebar .panel-group .panel-heading a {
    background: #6CF;
    color: #FFF;
    border-radius: 4px;
    border: 2px solid #FFF;
    font-weight: 700;
    font-size: 14px;
    display: block;
    padding: 10px 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
.library-single .sidebar .panel-group .panel-heading a:hover {
    color: #FFF;
}

/** Primary Content Styles **/
.library-single .primary .accordion {
    padding:  0 20px 20px;
    margin: 0;
    background: #F9F9F9;
}
.library-single .primary .accordion .accordion-heading a {
    text-decoration: none !important;
}
.library-single .primary .accordion .accordion-heading h2,
.library-single .primary .accordion .accordion-heading h3 {
    margin: auto -20px 20px;
    padding: 20px;
    font-size: 24px;
    background: #ECEDEE;
    transition: all .3s;
}
.library-single .primary .accordion .accordion-heading h2:hover,
.library-single .primary .accordion .accordion-heading h3:hover {
    background: #CBCBCB;
}
.library-single .primary .accordion .accordion {
    background: #FFF;
    margin: 0;
    padding: 0 20px 20px;
}
.library-single .primary .accordion .accordion > h3 {
    padding: 20px 0 0;
}
.library-single .primary .accordion .accordion > code {
    margin-bottom: 20px;
    display: inline-block;
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
